<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Dashboard</h1>
                    <h3>We made it here!</h3>
                    <h2><a href="{{ url_for('post.list_oncampuspost')}}">On Campus</a></h2>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slider_area_start -->
<!-- <div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="slider_text">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your new roommates!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- slider_area_end -->

<!-- catagory_area -->
<div class="catagory_area">
    <div class="container" margin=20px>
        <div class="row cat_search">
            <div class="col-lg-3 col-md-4">
                <div class="single_input">
                    <select class="wide" >
                        <option data-display="Category">Select Home Campus</option>
                        <option value="1">Harvey Mudd</option>
                        <option value="2">Pitzer</option>
                        <option value="3">Scripps</option>
                        <option value="4">CMC</option>
                        <option value="5">Pomona</option>
                        <option value="6">CGU</option>
                        <option value="7">Keck</option>
                      </select>
                </div>
                <!-- On/off campus switch -->
                <input type="checkbox" id="offCampusSwitch" name="offCampusSwitch" value="offCampusOnly">
                <label for="offCampusSwitch"> Show only off-campus posts</label><br>

                <!--Sort by # spots -->
                <input type="checkbox" id="sortNumSpots" name="sortNumSpots" value="sortNumSpots">
                <label for="sortNumSpots"> Sort by # spots left</label><br>
            </div>
            <div class="col-lg-3 col-md-4">
                <!--No pets -->
                <input type="checkbox" id="noPets" name="noPets" value="noPets">
                <label for="noPets"> No pets</label><br>
                <!-- noise level -->
                <div class="single_input">
                    <select class="wide" id="noise_level_range">
                        <option data-display="Noise Level">Noise Level</option>
                        <option value="1">1 (quiet)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (loud)</option>
                      </select>
                </div>
                <!-- wake up time -->
                <div class="single_input">
                    <select class="wide">
                        <option data-display="Preferred Wake Up Time">Wake Up Time</option>
                        <option value="1">Before 6 AM</option>
                        <option value="2">6-8 AM</option>
                        <option value="3">8-10 AM</option>
                        <option value="4">After 10 AM</option>
                      </select>
                </div>
                <!-- bed time -->
                <div class="single_input">
                    <select class="wide">
                        <option data-display="Preferred Bed Time">Bed Time</option>
                        <option value="1">Before 10 PM</option>
                        <option value="2">10PM-12AM</option>
                        <option value="3">12-2 AM</option>
                        <option value="4">After 2 AM</option>
                      </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <!--visitor frequency-->
                <div class="form-group">
                    <input class="form-control" name="visitorFreq" id="visitorFreq" type="number" min="0" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Visitor frequency'" placeholder = 'Monthly Visitor Frequency'>
                </div>
                <!-- <div class="single_input">
                    <select class="wide" id="social_level_range">
                        <option data-display="Social Level">Social Level</option>
                        <option value="1">1 (no guests)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (parties OK)</option>
                    </select>
                </div> -->
                <!--party frequency-->
                <div class="form-group">
                    <input class="form-control" name="partyFreq" id="partyFreq" type="number" min="0" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Party frequency'" placeholder = 'Monthly Party Frequency'>
                </div>
                <!-- <div class="single_input">
                    <select class="wide" id="messy_level_range">
                        <option data-display="Messy Level">Messy Level</option>
                        <option value="1">1 (very clean)</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 (very messy)</option>
                    </select>
                </div> -->
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="job_btn">
                    <a href="#" class="boxed-btn3">Filter Posts</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ catagory_area -->

<!-- post listing area start  -->
<div class="job_listing_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section_title">
                    <h3>Roommate Search Posts</h3>
                </div>
            </div>
        </div>
        <div class="job_lists">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="container" style="border:1px solid black">
                        <div class="jobs_conetent">
                            <h4>post title</h4>
                            <h5>User</h5>
                            <p>post message</p>
                            <div class="thumb">
                                <img src="../static/img/1.svg" id="image1" alt="">
                                <img src="../static/img/1.svg" id="image2" alt="">
                                <img src="../static/img/1.svg" id="image3" alt="">
                            </div>
                            <div class="links_locat d-flex align-items-center">
                                <div class="location">
                                    <p> <i class="fa fa-map-marker"></i> campus/off campus address</p>
                                </div>
                                <div class="capacity">
                                    <p><i class="fa fa-group"></i> # of people</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" class="button button-contactForm btn_4 boxed-btn" id="submitInterest" value="I'm Interested">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- post listing area end  -->
{% endblock %}