<!-- app/templates/post/make_post_offcampus.html -->

{% extends "base.html" %}
{% block title %}Make a Profile{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Make a post for off-campus housing!</h1>
                    <h3>We will use your account preferences and additional info to make a post.</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}