{% import "bootstrap/utils.html" as utils%}
{% extends "base.html" %}
{% block title %}On Campus{% endblock %}
{% block body %}
<div class="intro-header">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1>The Dashboard</h1>
                  <h3>See posts from other users</h3>
                  <hr class="intro-divider">
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="catagory_area">
    <div class="container" margin=20px>
        <div class="row cat_search">
            <form action= "{{ url_for('post.list_oncampuspost') }}"method = "POST">
                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <select class="wide" name="school" >
                            <option data-display="Category" value="0">Select Home Campus</option>
                            <option value="1">Harvey Mudd</option>
                            <option value="2">Pitzer</option>
                            <option value="3">Scripps</option>
                            <option value="4">CMC</option>
                            <option value="5">Pomona</option>
                            <option value="6">CGU</option>
                            <option value="7">Keck</option>
                          </select>
                    </div>
                    <div class="single_input">
                      <select class="wide" name ="allowed_gender">
                          <option data-display="Preferred Gender" value = "0">Preferred Gender</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">No Preference</option>
                        </select>
                    </div>
                    <!--No pets -->
                    <div class="single_input">
                      <select class="wide" name="pet">
                          <option data-display="Allowed Pet?" value = "2">Pets Allowed?</option>
                          <option value="1">Yes</option>
                          <option value="2">No</option>    
                      </select>
                    </div>
                    <!-- noise level -->
                    <div class="single_input">
                        <select class="wide" name="noiseSen">
                            <option data-display="Noise Level" value = "0">Noise Level</option>
                            <option value="1">1 (quiet)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (loud)</option>
                          </select>
                    </div>
                    <!-- wake up time -->
                    <div class="single_input">
                        <select class="wide" name ="wakeup">
                            <option data-display="Preferred Wake Up Time" value = "0">Wake Up Time</option>
                            <option value="1">Before 6 AM</option>
                            <option value="2">6-8 AM</option>
                            <option value="3">8-10 AM</option>
                            <option value="4">After 10 AM</option>
                          </select>
                    </div>
                    <!-- bed time -->
                    <div class="single_input">
                        <select class="wide" name ="bedtime">
                            <option data-display="Preferred Bed Time" value = "0">Bed Time</option>
                            <option value="1">Before 10 PM</option>
                            <option value="2">10PM-12AM</option>
                            <option value="3">12-2 AM</option>
                            <option value="4">After 2 AM</option>
                          </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                      <label for="capacity">Total Capacity</label>
                      <input class="form-control" name="capacity" id="capacity" type="number" min="0" value="0">
                    </div>
                    <div class="form-group">
                      <label for="nSingles">Min Number of Singles</label>
                      <input class="form-control" name="nSingles" id="nSingles" type="number" min="0" value="0">
                    </div>
                    <div class="form-group">
                      <label for="nDoubles">Min Number of Doubles</label>
                      <input class="form-control" name="nDoubles" id="nDoubles" type="number" min="0" value="0">
                    </div>
                    <div class="form-group">
                      <label for="nTriples">Min Number of Triples</label>
                      <input class="form-control" name="nTriples" id="nTriples" type="number" min="0" value="0">
                    </div>
                    <div class="form-group">
                      <label for="nQuads">Min Number of Quads</label>
                      <input class="form-control" name="nQuads" id="nQuads" type="number" min="0" value="0">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                  <div class="form-group">
                    <label for="visitorFreq">Monthly Visitor Frequency</label>
                    <input class="form-control" name="visitorFreq" id="visitorFreq" type="number" min="0" value="0">
                  </div>
                  <div class="form-group">
                    <label for="partyFreq">Monthly Party Frequency</label>
                    <input class="form-control" name="partyFreq" id="partyFreq" type="number" min="0" value="0">
                  </div>
                </div>
                <button type="submit"> Filter</button>
            </form>
        </div>
    </div>
</div>

<!-- Listing the post result-->
<div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <h1 style="text-align:center;">Posts</h1>
          <br/>
              {{utils.flashed_messages()}}
          <br/>
          {% if posts %}
            <hr class="intro-divider">
            <div class="center">
                {% for post in posts %} 
                  <!-- <form action= "{{ url_for('post.list_oncampuspost') }}"method = "GET"> -->
                    <!-- <div class="col-lg-4 col-md-4"> -->
                      <div class="container col-md-6" style="border:1px solid rgb(116, 101, 101)">
                          <div class="jobs_conetent">
                              <h4>{{ post.title }}</h4>
                              <h5> {{ post.user_id }} </h5>
                              <p> {{ post.description }} </p>
                              <div class="thumb">
                                {% if post.image_1 %}
                                <div class col-md-4>
                                    <img src="{{post.image_1}}" id="image1" width = "50" height = "50">
                                </div>
                                {% endif %}
                              </div>
                              <div class="links_locat d-flex align-items-center">
                                {% if post.college == 1 %}
                                    <p> <i class="fa fa-map-marker"></i> Harvey Mudd</p>
                                {% endif %}
                                {% if post.college == 2 %}
                                    <p> <i class="fa fa-map-marker"></i> Pitzer</p>
                                {% endif %}
                                {% if post.college == 3 %}
                                    <p> <i class="fa fa-map-marker"></i> Scripps</p>
                                {% endif %}
                                {% if post.college == 4 %}
                                    <p> <i class="fa fa-map-marker"></i> CMC</p>
                                {% endif %}
                                {% if post.college == 5 %}
                                    <p> <i class="fa fa-map-marker"></i> Pomona</p>
                                {% endif %}
                                {% if post.college == 6 %}
                                    <p> <i class="fa fa-map-marker"></i> CGU</p>
                                {% endif %}
                                {% if post.college == 7 %}
                                    <p> <i class="fa fa-map-marker"></i> KGU</p>
                                {% endif %}
                                {% if post.dorm_1%}
                                  <p>Ideal First Dorm Pick: {{post.dorm_1}} </p>
                                {% endif %}
                                {% if post.dorm_2%}
                                  <p>Ideal Second Dorm Pick: {{post.dorm_2}} </p>
                                {% endif %}
                                {% if post.dorm_3%}
                                <p>Ideal Third Dorm Pick: {{post.dorm_3}} </p>
                                {% endif %}
                                <p> The Total Capacity :{{ post.capacity }} </p>
                                <p> Room Draw Number: {{post.drawNo}}</p>
                                <p> Numbers of Single Rooms: {{post.nSingles}}</p>
                                <p> Numbers of Double Rooms: {{post.nDoubles}}</p>
                                <p> Numbers of Triple Rooms: {{post.nTriples}}</p>
                                <p> Numbers of Quad Rooms: {{post.nQuads}}</p>
                              </div>
                          </div>
                          <div class="form-group mt-3">
                            <a href="{{ url_for('post.like_post', id = post.id)}}" class="button button-contactForm btn_4 boxed-btn" >"I'm Interested</a>
                            <a href="{{ url_for('profile.view_otherprofile', id = post.owner_id)}}" class="button button-contactForm btn_4 boxed-btn" >View {{post.username}}'s' Profile</a>
                          </div>
                      </div>
                    <!-- </div> -->
                  </form>
                {% endfor %}
            </div>
            <div style="text-align: center">
          {% else %}
            <div style="text-align: center">
                <h3> No posts have been found. </h3>
            <hr class="intro-divider">
          {% endif %}
            </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}