<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | 7C Roomies</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favorite.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script>
    var roommateCount = 0;

    var interestedUserCount = 0;

    function addRoommateBox(parentId) {
        var p = document.getElementById(parentId);

        // add email text box
        var emailBox = document.createElement("input");
        emailBox.setAttribute('id', "ghostEmail" + roommateCount);
        emailBox.setAttribute('type', 'email');
        emailBox.setAttribute('placeholder', 'Enter roommate email');
        emailBox.setAttribute('onfocus', "this.placeholder=''");
        p.appendChild(emailBox);
        // add first name text box
        var firstNameBox = document.createElement("input");
        firstNameBox.setAttribute('id', "ghostFirstName" + roommateCount);
        firstNameBox.setAttribute('type', 'text');
        firstNameBox.setAttribute('placeholder', 'Enter roommate first name');
        firstNameBox.setAttribute('onfocus', "this.placeholder=''");
        p.appendChild(firstNameBox);
        // add last name text box
        var lastNameBox = document.createElement("input");
        lastNameBox.setAttribute('id', "ghostLastName" + roommateCount);
        lastNameBox.setAttribute('type', 'text');
        lastNameBox.setAttribute('placeholder', 'Enter roommate last name');
        lastNameBox.setAttribute('onfocus', "this.placeholder=''");
        p.appendChild(lastNameBox);
        roommateCount += 1;
    }

    function addInterestedUser(parentId) {
        var p = document.getElementById(parentId);

        // add user paragraph
        var userP = document.createElement("p");
        userP.setAttribute('id', "user" + interestedUserCount);
        p.appendChild(emailBox);

        // add approval link
        var approvalLink = document.createElement("a");
        approvalLink.setAttribute('id', "approveUser" + interestedUserCount);
        userP.appendChild(approvalLink);
        interestedUserCount += 1;
    }
</script>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">7C Roomies</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <!-- Modify nav bar menu -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.school %} <!--If user has a profile-->
                        <li><a href="{{ url_for('profile.profile') }}">View My Profile</a></li>
                        {% else %} <!--If user does not have a profile-->
                        <li><a href="{{ url_for('profile.make_profile') }}">Make A Profile</a></li>
                        {% endif %}
                        {% if current_user.post_id %}
                        {% else %}
                        <li><a href="{{ url_for('post.make_post') }}">Make a Post</a></li>
                        {% endif %}
                    <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.username }}!</a></li>
                    {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        {% if current_user.is_authenticated %}
                          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                    <p class="copyright text-muted small">Copyright © 2020. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <!-- Copyright from template -->
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>